/* main style */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

/* common container  */
div {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

/*  entering text and button style */
input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003d82;
}

/* text response  */
#trivia-response,
#number-response {
    margin-top: 10px;
    padding: 10px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    border-radius: 4px;
    display: none;
}