table {
    font-family: 'Roboto', sans-serif;
    border: 5px solid black;
    font-size: medium;
    letter-spacing: 1px;
  }

ol.a { list-style-type: lower-roman; }
ol.b { list-style-type: lower-alpha; }
ul.c { list-style-type: square; }
ul.d { list-style-type: disc; }

.custom-link:link { text-decoration: none; color: #ff4500; }
.custom-link:visited { color: #a52a2a; }
.custom-link:hover { color: #800000; font-weight: bold; }

a {
    text-decoration: none;
}

a:link {
    color: hotpink;
}

a:visited {
    color: red;
}

a:hover {
    color: darkblue;
}

h1::first-letter {
    color: maroon;
    font-size: 50px;
}