@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
body {
  text-align: center;
  background-color: white;
  color: #800000;
  font-family: "EB Garamond", serif;
  padding-bottom: 200px;
}